
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sayfa bulunamadı!</title>
    <link rel="stylesheet" href="~/AdminPanelContent/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/AdminPanelContent/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/AdminPanelContent/libs/css/style.css">
    <link rel="stylesheet" href="~/AdminPanelContent/vendor/fonts/fontawesome/css/fontawesome-all.css">
</head>

<body>
    <div class="dashboard-main-wrapper p-0">
        <nav class="navbar navbar-expand dashboard-top-header bg-white">
            <div class="container-fluid">
                <div class="dashboard-nav-brand">
                    <a class="dashboard-logo" href="../index.html">Blogin</a>
                </div>
            </div>
        </nav>
        <div class="bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="error-section">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRqn-JXL7Fcx2ndzJm4ayxnovIe3bSoR-LKp78mB5H8Zakzp-9C" alt="" class="img-fluid">
                            <div class="error-section-content">
                                <h1 class="display-3">Sayfa Bulunamadı!</h1>
                                <p> Ulasmaya calıstıgınız sayfa degistirilmis ya da kaldırılmış olabilir.</p>
                                @Html.ActionLink("Ana Sayfa", "Index", "Home", null, new {@class="btn btn-secondary btn-lg" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white p-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-dark text-center">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       
    <script src="~/AdminPanelContent/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/AdminPanelContent/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/AdminPanelContent/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/AdminPanelContent/libs/js/main-js.js"></script>
</body>

</html>